
body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


header {
background-image: url(img/fondo.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
height: 26em;
width: 100%;
color: #ffffffff;
font-weight: initial;

}
/*
header::after{
  width: 100%;
  height: 100%;
  content:"";
  position: absolute;
  top:0;
  left: 0;
  opacity: 0.8;

    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
}*/
header::after{
    width: 100%;
    height: 100%;
    content:"";
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.8;
  
    
  }

header>*{
  position: relative;
  z-index: 1;

}

.container{
    background-color: #ffffffff;
 margin: 0;
    max-width: 100%;
 height: 100%;
    width: 100%;
}

.navegador {
    display: flex;
    justify-content: space-between;

}





h1 {
    font-size: 6em;
    font-weight: lighter;
    font-family: 'Monoton', cursive;

}
.navegador div img {
    padding-left: 3%;
}

.navegador div ul li {
    display: inline;
    font-size: 0.7em;
    text-transform: uppercase;
    padding: 3em;

}


a {
    text-decoration: none;
color: #ffffffff;
}


.menuHeader {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding-top: 4em;
}

.menuHeader div {
    line-height: 0.25em;
padding: 0;

}

.boton1 {
    border-radius: 2em;
    display: block;
    border: solid;
    color: #ffffffff;
    background: #00000000;
    border-width: 1px;
    padding: 0.6em 1.6em;
    text-decoration: none;
    margin: 0 auto;
    color: none;

}





/* Barra de nav*/
.navbar {
  width: 100%;
  height: 56px;
}
.navbar .links{
  display:flex;
  justify-content: space-around;
  list-style: none;
  align-content: center;
  background-color: black;
  position: relative;
  height: 100%;
}

.links li a{
  color: white;
  text-decoration: none;

}


.links .logo{
  height: 100px;
  width: 100px;
  background: #000;
  position: absolute;
  top: 5px;
  padding: 0 10px;
}

.links .logo img{
  height: 100px;
  width: 100px;
  object-fit: contain;
}



















/*seccion blanca*/


.SeccionBlanca h2 span{
  color: #222222;
  }
  
  .SeccionBlanca div {
      padding: 0 1%;
  }
  .SeccionBlanca {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    flex-wrap: wrap;
  
  }
  .art{
    width:30%;
    min-width: 25%;
    max-width: 100%;
    height: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  justify-content: center;
  border-color: #222222
  }
 
  .imgBlanca img
  {
    display: flex;
    width: 80%;
max-width: 100%;
      padding-top: 10%;
      object-fit: cover;
     }
  
.boton {

  display: block;
  
  color:orange;
  background: white;
  border-width: 1px;
  padding: 0.6em 1.6em;
  text-decoration: none;
  margin: 0 ;
  color: none;

}
 .boton:hover {
    background: orange;
   color: #fff
    }


    





























